<!DOCTYPE html>
<html lang="ja" xmlns:th="www.thymeleaf.org">

<div th:replace="~{partial/head::head}"></div>

<body>
	<div class="container">
    
    <form action="#" method="post" th:action="@{/signUp}">
    <div class="form-group">
      <input type="text" name="userId" class="form-control" placeholder="ユーザーID" />
    </div>
    <div class="form-group">
      <input type="text" name="userName" class="form-control" placeholder="ニックネーム"/>
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="パスワード"/>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">新規登録</button>
    </div>
    </form>
		
		

	</div>

  <div th:replace="~{partial/script}"></div>

</body>
</html>

